@page
@using System.Globalization
@model Mission09_ckearl2.Pages.OrderModel

@{
    
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model.cart.Items)
    {
        <tr>
            <td>@item.Book.Title</td>
            <td>@item.Quantity</td>
            <td>@item.Book.Price</td>
            <td>@(item.Quantity * item.Book.Price)</td>
                
        </tr>
    }
    </tbody>
    
    <tfoot>
    <tr>
        <td colspan="3">Total:</td>
        <td>@Model.cart.CalculateTotal().ToString("c", CultureInfo.CurrentCulture)</td> 
    </tr>
    </tfoot>
</table>

<div class="">
    <a class="btn btn-info" href="@Model.ReturnUrl">Continue Dontaing</a>
</div>